/*
*
* CSS Reset
*
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/*
*
* General Rules
*
*/

body {
	font-family: 'Bree Serif', sans-serif;
	background-color: white;
}



.clear:after {
	content: "";
	display: block;
	clear: both;
}




